rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /user-data/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /group-list/{groupId} {
    	allow read, write: if request.auth != null;
    }
    match /group-data/{groupId} {
    	allow read, write: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/group-list/$(groupId)).data.members;
    }
    match /{document=**} {
      allow read, write: if false;
    }
    
  }
}