.chatroom {
    flex-direction: column;
    flex-shrink: 1;
}

.chatroom-body {
    flex-shrink: 1;
    max-height: 80vh;
}

.message-area {
    box-sizing: border-box;
    overflow-y: auto;
    flex-shrink: 1;
    min-height: 0;
}