.chatroom {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.chatroom-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}

.chatroom-body {
    display: flex;
    max-height: 80vh;
}

.message-area {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
    min-height: 0;
    flex: 1 1 auto;
    padding-bottom: 20vh;
}

.chatroom-footer {
    display: flex;;
}