@keyframes pop {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.message-box {
    display: flex;
    flex: 1 1 auto;
    padding: 0.2em;
    animation: pop 0.5s ease forwards;
}

.username {
    font-weight: bold;
    color: #000;
    font-size: 0.8em;
    margin: 0.5em;
    max-width: 90%;
}

.msg {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #000;
    font-size: 1em;
    margin: 0.5em;
    max-width: 90%;
}

.message {
    border-radius: 10px;
    padding: 0.5em 1em;
    max-width: 45vw;
}

.self .message {
    background-color: #d1e7dd;
    color: #0f5132;
}

.other .message {
    background-color: #d7dff8;
    color: #586386;
}

.self {
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.other {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}