ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
}

.header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #73a8e4;
    
}

.navbar {
    padding: 5px 5px;
    display: flex;
}

.navbar .icon-text-button-container button {
    border-radius: 8%;
}