ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
}

.header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.navbar {
    display: flex;
}