ul {
    list-style: none;
    margin: 0;
    padding: 2px 2px;
}

.sidebar {
    max-width: 20vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 4px 4px;
}

.sidebar .icon-text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.sidebar .icon-text-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}